button {
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
