.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  counter-reset: list;

  @media (#{$screen-tablet}) {
    grid-gap: 40px;
  }

  @media (#{$screen-desktop}) {
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.list__item {
  overflow: hidden;

  @media (#{$screen-desktop}) {
    display: block;
    width: 134px;
    height: 153px;
    background-color: $basic_gray;
  }

  &:nth-child(5n) {

    @media (#{$screen-desktop}) {
      margin-right: 0;
    }
  }

  &:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &:hover {
    box-shadow: 0 0 10px #666666;
  }
}
