.list {
  counter-reset: list;
}

.list__item {
  display: block;
  width: 134px;
  height: 153px;
  margin: 0 21px 19px 0;
  background-color: $basic_gray;

  &:nth-child(5n) {
    margin-right: 0;
  }

  &:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &:hover {
    box-shadow: 0 0 10px #666666;
  }
}
