.logo {
  display: flex;
  width: 60px;
  height: auto;

  @media (#{$screen-tablet}) {
    width: 80px;
    height: auto;
  }

  @media (#{$screen-desktop}) {
    width: 122px;
    height: auto;
    margin: 0;
  }
}

.logo__img {
  width: 100%;
  height: auto;
}
