$basic-white: #ffffff;
$basic-gray: #cdcdcd;
$special-gray: #666666;

$screen-mobile: "min-width: 320px";
$screen-retina: "min-resolution: 2dppx";
$screen-tablet: "min-width: 768px";
$screen-desktop: "min-width: 1100px";
